.avatar {
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px;
}

.face {
    margin-top: 20px;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 700px;
    border-radius: 30px;
    background-color: rgba(214, 223, 237, 0.2);
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    font-size: 1.2rem;
    font-family: Verdana, sans-serif;
}

.button {
    margin-left: 30px;
    border-radius: 5px;
    border: none;
}

.line {
    color: white;
}

.line span {
    color: rgba(214, 223, 237, 0.67);
}

.pageCount {
    color: white;
}
.pageCountSelected {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
.pagesBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}