.formControl {
width: 100%;
}
.formControl.error textarea {
    border: 2px solid  var(--textErrorColor);
}
.formControl.error span {
    color: var(--textErrorColor);
}
.textarea {
    background-color: var(--mainColor);
    color: var(--textMainColor);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}