.item {
    color: #d6dfed;
    display: flex;
    gap: 20px;
margin-top: 10px;
    align-items: flex-end;
}

.item img {
    width: 50px;
    border-radius: 30px;
}
.likes {

    color: rgba(214, 223, 237, 0.62);
    font-size: 0.8rem;
}
.postBlock {
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    padding: 5px;
 min-height: 40px;
    min-width: 250px;
}