.description_block {
    padding: 10px;
    position: relative;
    top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.main {
    border-radius: 20px;
    height: 410px;
}

.mainImg {
    padding: 10px;
    height: 200px;
    width: 98%;
    border-radius: 40px;
}

.avatar {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border: 3px solid var(--textMainColor);
    box-shadow: 0 0 48px -9px rgba(255, 255, 255, 1);
}

.nameBlock {
    color: var(--textMainColor);
    max-width: 40%;
    font-size: 1.3rem;
}

.aboutJobBlock {
    color: var(--textMainColor);
    max-width: 40%;
    font-size: 1.1rem;
}

.title {
    font-size: 0.9rem;
    color: var(--textSecondColor);
}

.jobImg {
    width: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    position: relative;
    right: 50px;
    border: 1px solid black;
    z-index: 2;
}

.contactsBlock {
    padding-left: 20px;
    color:  var(--textMainColor);
    font-size: 1.3rem;
    display: flex;
    position: relative;
    top: -130px;
    gap: 20px;
    flex-wrap: wrap;
}

h2 {
    left: 5%;
    width: 20%;
    color:  var(--textMainColor);
    position: relative;
    top: -130px;
}

.icon {
    width: 20px;
    filter: invert(100%);
}
.iconNull{
    width: 20px;
    filter: invert(50%);
}
.contactContainer {
    display: flex;
    align-items: center;
}