.errorMessage {
    color: var(--textErrorColor);

}
.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.checkbox{
    color:var(--textSecondColor);
    white-space: nowrap;
}
.checkboxBlock{
display: flex;
    gap: 10px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    width: 400px;
}
.inputForm {
    background-color:var(--secondColor);
    min-height: 30px;
    min-width: 250px;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
    color: var(--textMainColor);
}
.inputForm::placeholder{
    color: var(--textSecondColor);
}

