.app-wrapper {
    display: flex;
    max-width: 1250px;
    max-height: 95vh;
    margin: 20px auto;
    border-radius: 30px;
    background: var(--mainColor) no-repeat;
    background-position-y: bottom;
}

.app-wrapper-content {
    position: relative;
    width: 83%;
}

.app-content {
    max-height: 90%;
    width: 97%;
    overflow: auto;
    background-color: var(--secondColor);
    border-radius: 20px;
    margin: 10px;
    padding: 5px;;
}


