.dialogs {
    display: flex;
    justify-content: space-between;
}

.dialogs_items {
    padding: 5px;
}

.item {
    padding: 5px;
}

.item a {
    color: var(--textSecondColor);
    text-decoration: none;
    bottom: 20px;
    left: 10px;
    position: relative;

}

.item a:active {
    color: var(--textMainColor);
    font-size: 1.2rem;
}

.messages {
    padding: 15px;
    color: var(--textMainColor);
    border: 1px solid var(--secondColor);
    margin: 5px;
    width: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item img {
    width: 50px;
    border-radius: 25px;
}

.message {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 20px;
}

.avatar {
    width: 40px;
    border-radius: 20px;
}