.dialogs {
    display: flex;
    justify-content: space-between;
}

.dialogs_items {
    padding: 5px;
}

.item {
    padding: 5px;
}

.messages {
    padding: 15px;
    color: var(--textMainColor);
    border: 1px solid var(--secondColor);
    margin: 5px;
    width: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 20px;
}

.avatar {
    width: 40px;
    border-radius: 20px;
}
@media screen and (max-width: 1250px) {
    .message {
        display: block;
    }
    .friendImg{
        display: none;
    }
    .dialogs_items {
       margin-top: 20px;
        text-align: center;
        width: 20%;
    }
}