.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogs_items {
    padding: 5px;
}

.item {
    padding: 5px;
}
.item a{
    color: rgba(214, 223, 237, 0.67);
    text-decoration: none;
    bottom: 20px;
    left: 10px;
    position: relative;

}
 .item a:active{
    color: #ffffff;
    font-size: 1.2rem;
}
.messages {
    padding: 15px;
    color: white;
}

.item img {
    width: 50px;
    border-radius: 25px;
}